* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #000000;
    color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

button{
    padding: 10px 20px;
    background-color: #009e00;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    fonwt-weight: bold;
    position: relative;
    z-index: 9;
}

button:hover{
    background-color: #00c000;
    scale: 1.05;
    transition: all 0.3s ease;
}

button:active{
    background-color: #007000;
    scale: 0.95;
    transition: all 0.1s ease;
}